@charset "utf-8";
/* CSS Document */
.font{font-family:Tahoma, Geneva, sans-serif;}
.text_aling{text-align:center;}
.font-weight{font-weight: bold;}


.p{font-family:Tahoma, Geneva, sans-serif;font-size:14px;line-height:20px;padding-left:10px;padding-right:10px;}

button{border:none;border-radius:5px;width:100px;height:35px;font-family:Tahoma, Geneva, sans-serif;font-weight:600;
}

button:hover{background:#102859;}

.select-style {padding: 0;margin: 0;border: 1px solid #ccc;width: 200px;border-radius: 5px;overflow: hidden;background-color: #fff;background: #fff url(../img/arrow_down.png) no-repeat  right;box-shadow:inset 0px 0px 7px 0px #848484; -moz-box-shadow:inset 0px 0px 7px 0px #848484; -webkit-box-shadow:inset 0px 0px 7px 0px #848484;}

.select-style select {padding: 5px 8px;width: 115%;border: none;box-shadow: none;background-color: transparent;background-image: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;}

.select-style select:focus {outline: none;}

.select {border: 1px solid #ccc;width: 200px;border-radius: 5px;overflow: hidden;background-color: #fff;background: #fff url(../img/arrow_down.png) no-repeat  right;box-shadow:inset 0px 0px 7px 0px #848484; -moz-box-shadow:inset 0px 0px 7px 0px #848484; -webkit-box-shadow:inset 0px 0px 7px 0px #848484;margin-top:10px;}

.select select {padding: 5px 8px;width: 115%;border: none;box-shadow: none;background-color: transparent;background-image: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;}

.select select:focus {outline: none;}

.textbox {font-size: 13px;border-radius: 5px;-moz-border-radius: 4px; -webkit-border-radius: 4px;width:100px;box-shadow:inset 0px 0px 7px 0px #848484;-moz-box-shadow:inset 0px 0px 7px 0px #848484;-webkit-box-shadow:inset 0px 0px 7px 0px #848484;} 
 
.textbox:focus { outline: none;box-shadow:inset 0px 0px 7px 0px #7bc1f7;-moz-box-shadow:inset 0px 0px 7px 0px #7bc1f7; 
-webkit-box-shadow:inset 0px 0px 7px 0px #7bc1f7;} 
.textbox:hover {outline: none;box-shadow:inset 0px 0px 10px 0px #57acfa;-moz-box-shadow:inset 0px 0px 10px 0px #57acfa;-webkit-box-shadow:inset 0px 0px 10px 0px #57acfa;-moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out;} 

.input_msg {font-size: 13px;border-radius: 5px; -moz-border-radius: 4px;-webkit-border-radius: 4px;box-shadow:inset 0px 0px 7px 0px #848484;-moz-box-shadow:inset 0px 0px 7px 0px #848484; -webkit-box-shadow:inset 0px 0px 7px 0px #848484;border:none;padding-left:10px;padding-right:10px;font-size:12px;} 
 
.input_msg:focus { outline: none; box-shadow:inset 0px 0px 7px 0px #7bc1f7;  -moz-box-shadow:inset 0px 0px 7px 0px #7bc1f7; -webkit-box-shadow:inset 0px 0px 7px 0px #7bc1f7; } 
.input_msg:hover { outline: none; box-shadow:inset 0px 0px 10px 0px #57acfa; -moz-box-shadow:inset 0px 0px 10px 0px #57acfa;  -webkit-box-shadow:inset 0px 0px 10px 0px #57acfa;-moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out;
} 

.input_search {font-size: 13px;border-radius: 5px; -moz-border-radius: 4px;-webkit-border-radius: 4px;box-shadow:inset 0px 0px 7px 0px #848484;-moz-box-shadow:inset 0px 0px 7px 0px #848484; -webkit-box-shadow:inset 0px 0px 7px 0px #848484;border:none;padding-left:10px;padding-right:10px;font-size:12px;padding-bottom:10px;padding-top:10px;background:#FFF url(../img/find.png) no-repeat right;} 
 
.input_search:focus { outline: none; box-shadow:inset 0px 0px 7px 0px #7bc1f7;  -moz-box-shadow:inset 0px 0px 7px 0px #7bc1f7; -webkit-box-shadow:inset 0px 0px 7px 0px #7bc1f7; } 
.input_search:hover { outline: none; box-shadow:inset 0px 0px 10px 0px #57acfa; -moz-box-shadow:inset 0px 0px 10px 0px #57acfa;  -webkit-box-shadow:inset 0px 0px 10px 0px #57acfa;-moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out;
} 



.height_auto{height:auto;}
.height_100p{height:100%;}
.height_10{height:10px;}
.height_20{height:20px;}
.height_30{height:30px;}
.height_40{height:40px;}
.height_50{height:50px;}
.height_60{height:60px;}
.height_70{height:70px;}
.height_80{height:80px;}
.height_100{height:100px;}
.height_110{height:110px;}
.height_115{height:115px;}
.height_120{height:120px;}
.height_130{height:130px;}
.height_140{height:140px;}
.height_150{height:150px;}
.height_155{height: 155px;}
.height_160{height:160px;}
.height_170{height:170px;}
.height_180{height:180px;}
.height_190{height:190px;}
.height_200{height:200px;}
.height_210{height:210px;}
.height_220{height:220px;}
.height_230{height:230px;}
.height_240{height:240px;}
.height_250{height:250px;}
.height_260{height:260px;}
.height_270{height:270px;}
.height_280{height:280px;}
.height_290{height:290px;}
.height_300{height:300px;}
.height_350{height:350px;}
.height_360{height:360px;}
.height_370{height:370px;}
.height_380{height:380px;}
.height_390{height:390px;}
.height_400{height:400px;}
.height_410{height:410px;}
.height_420{height:420px;}
.height_470{height:470px;}
.height_450{height:450px;}
.height_500{height:500px;}
.height_600{height:600px;}


.width_100p{width:100%;}
.width_72p{width:72%;}
.width_auto{width:auto;}
.width_10{width:10px;}
.width_20{width:20px;}
.width_30{width:30px;}
.width_40{width:40px;}
.width_50{width:50px;}
.width_60{width:60px;}
.width_70{width:70px;}
.width_80{width:80px;}
.width_90{width:90px;}
.width_100{width:100px;}
.width_110{width:110px;}
.width_120{width:120px;}
.width_130{width:130px;}
.width_140{width:140px;}
.width_150{width:150px;}
.width_160{width:160px;}
.width_170{width:170px;}
.width_180{width:180px;}
.width_190{width:190px;}
.width_200{width:200px;}
.width_210{width:210px;}
.width_220{width:220px;}
.width_230{width:230px;}
.width_240{width:240px;}
.width_250{width:250px;}
.width_260{width:260px;}
.width_270{width:270px;}
.width_280{width:280px;}
.width_290{width:290px;}
.width_205{width:205px;}
.width_300{width:300px;}
.width_350{width:350px;}
.width_400{width:400px;}
.width_470{width:470px;}
.width_450{width:450px;}
.width_500{width:500px;}
.width_600{width:600px;}



.clear
{
	clear:both;
	width:960px;
	height:1px;
}






.background_1{background: rgb(122,188,255); 
background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); 
background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
background: -o-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
background: -ms-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );}

.background_2{background: rgb(255,48,25);
background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); 
background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); 
background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );}

.background_3{background: rgb(206,220,231);
background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1)));
background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); 
background: -o-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); 
background: -ms-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); 
background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); }

.background_4{background: rgb(210,255,82);
background: -moz-linear-gradient(top,  rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,255,82,1)), color-stop(100%,rgba(145,232,66,1)));
background: -webkit-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
background: -o-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
background: -ms-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); 
background: linear-gradient(to bottom,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 );}

.background_5{background: rgb(255,175,75); 
background: -moz-linear-gradient(top,  rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1)));
background: -webkit-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);
background: -o-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); 
background: linear-gradient(to bottom,  rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); }

.background_6{background: rgb(234,185,45);
background: -moz-linear-gradient(top,  rgba(234,185,45,1) 0%, rgba(199,152,16,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,185,45,1)), color-stop(100%,rgba(199,152,16,1)));
background: -webkit-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
background: -o-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
background: -ms-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); 
background: linear-gradient(to bottom,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 );}

.background_7{background: rgb(206,220,231);
background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1)));
background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
background: -o-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); 
background: -ms-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); 
background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); 

}

.background_8{background: rgb(122,188,255);
background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1)));
background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
background: -o-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
background: -ms-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); 
background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );

}
.background_9{background:#b0f5fb;
}
.background_10{background:#b4b2f6;
}
.background_11{background:#fbb7ae;
}
.background_12{background:#c8f3ad;


}
.background_13{background:#f2d99e;

}
.background_14{background:#1960a2;}
.background_15{background:#254888;}
.background_16{background:#edb01d;}
.background_17{background:#FFF;}
.background_18{background:#eafafe;}
.background_19{background:url(../img/register.png) no-repeat left;}


.background_1:hover{background:#02b9f5;-moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out;

}
.background_2:hover{background:#e6481e;-moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out;

}
.background_3:hover{background:#a1a1a0;-moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out;

}
.background_4:hover{background:#7af71f;-moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out;

}
.background_5:hover{background:#f7ae00;-moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out;

}
.background_6:hover{background:#e4a204;-moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out;

}
.background_9:hover{background:#6ebbc2;-moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out;

}
.background_10:hover{background:#7977c7;-moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out;


}
.background_12:hover{background:#89cd60;-moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out;


}
.background_13:hover{background:#eeb93b;-moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out;


}
.background_11:hover{background:#ee6856;-moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out;

}

.span{color:#333;font-size:12px;}
.samp{color:#CCC;font-size:12px;}

.shawdow_1{box-shadow:inset 0px 0px 9px 0px #dbeafa; -moz-box-shadow:inset 0px 0px 9px 0px #dbeafa;-webkit-box-shadow:inset 0px 0px 9px 0px #dbeafa; }
.shawdow_2{box-shadow:inset 0px 0px 30px 0px #CCC;; -moz-box-shadow:inset 0px 0px 30px 0px #CCC;;-webkit-box-shadow:inset 0px 0px 30px 0px #CCC;; }



.margin_left_5{margin-left:5px;}
.margin_left_10{margin-left:10px;}
.margin_left_15{margin-left:15px;}
.margin_left_1{margin-left:18px;}
.margin_left_20{margin-left:20px;}
.margin_left_25{margin-left:25px;}
.margin_left_30{margin-left:30px;}
.margin_left_35{margin-left:35px;}
.margin_left_40{margin-left:40px;}
.margin_left_2{margin-left:45px;}
.margin_left_37{margin-left:37px;}
.margin_left_60{margin-left:60px;}
.margin_left_70{margin-left:70px;}
.margin_left_80{margin-left:80px;}
.margin_left_90{margin-left:90px;}
.margin_left_100{margin-left:100px;}
.margin_left_150{margin-left:150px;}
.margin_left_160{margin-left:160px;}
.margin_left_170{margin-left:170px;}
.margin_left_180{margin-left:180px;}
.margin_left_190{margin-left:190px;}
.margin_left_200{margin-left:200px;}
.margin_left_210{margin-left:210px;}

.margen_right{margin-right:0px;}
.margen_right5{margin-right:5px;}
.margen_right10{margin-right:10px;}
.margen_right_10{margin-right:10px;}

.margin_top_15{margin-top:15px;}
.margin_top_5{margin-top:5px;}
.margin_top_10{margin-top:10px;}
.margin_top_30{margin-top:30px;}
.margin_top_40{margin-top:40px;}
.margin_top_50{margin-top:50px;}
.margin_top_60{margin-top:60px;}
.margin_top_0{margin-top:0px;}
.margin_top_20{margin-top:20px;}

.left_1{left: 1px;}
.right_0{right: 0px;}

.top_50{top: 50px;}
.top_215{top: 215px;}
.top_380{top: 380px;}



.colore_11{color:#FFF;}
.colore_12{color:#039;}
.colore_14{color: #d3c2ac;}
.colore_13{font-family:Tahoma, Geneva, sans-serif;font-size:12px;color:#fffbd1;}
.msg{width:auto;}
.error_msg{font-family:Tahoma, Geneva, sans-serif;font-size:12px;color:#F00;padding-left:25px;padding-top:5px;background:url(../img/dialog_warning.gif) no-repeat left;margin-top:5px;}
.sucess{font-family:Tahoma, Geneva, sans-serif;font-size:12px;color:#090;padding-left:25px;padding-top:5px;background:url(../img/check.gif) no-repeat left;margin-top:5px;}



.left{float:left;}
.right{float:right;}

.lll{width:160px;height:100px; float:left; margin-top:25px; margin-left:10px;font-family:Tahoma, Geneva, sans-serif;font-weight:500;font-size:15px;}
.colll{background:#FFF;padding-left:50px;padding-right:50px;padding-bottom:6px;padding-top:15px;border-top-left-radius:5px;}
.colls{background:#FFF;padding-left:41px;padding-right:41px;padding-bottom:6px;padding-top:15px;border-top-right-radius:5px;}
.ppp{width:70px;line-height:30px;padding-left:12px;}

.border_none{border: none;}







.CSSTableGenerator {
	margin:0px;padding:0px;
	text-align:center;
	
	
}.CSSTableGenerator table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#d3e9ff;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	
	background-color:#aad4ff;

	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:13px;
	font-family:Arial;text-align:center;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		

	background-color:#0057af;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0057af 5%, #0057af 100%);background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #0057af) );
	background:-moz-linear-gradient( center top, #0057af 5%, #0057af 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#0057af");	background: -o-linear-gradient(top,#0057af,0057af);

	background-color:#0057af;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


.add_grp { text-align: left; border-radius: 5px;
         position: fixed; border: 2px #1960a2 solid;  }
.add_grp h1{font-size:15px;padding:0px;padding-left:30px;margin-top:5px;
background:url(../img/gtk_media_forward_ltr.gif) no-repeat left;font-weight:600;color:#cc9650;}
