
@charset 'UTF-8';
/* Base Styles */
#menu,
#menu ul,
#menu li,
#menu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-size: 14px;
  position: relative;
  font-family:Tahoma, Geneva, sans-serif;
}
#menu a {
  line-height: 1.3;
  padding: 6px 15px;
}
#menu {
  width: 98%;margin-left:5px;
}
#menu > ul > li {
  cursor: pointer;
  background: #000;
  border-bottom: 1px solid #2d7ab5;
}
#menu > ul > li:last-child {
  border-bottom: 1px solid #3e3d3c;
}
#menu > ul > li > a {
  font-size: 13px;
  display: block;
  color: #ffffff;

  background: #4494d1;
  background: -moz-linear-gradient(#4494d1 0%, #2d7ab5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4494d1), color-stop(100%, #2d7ab5));
  background: -webkit-linear-gradient(#4494d1 0%, #2d7ab5 100%);
  background: linear-gradient(#4494d1 0%, #2d7ab5 100%);
}
#menu > ul > li > a:hover {
  text-decoration: none;
}
#menu > ul > li.active {
  border-bottom: none;
}
#menu > ul > li.active > a {
  background: #579ed5;
  background: -moz-linear-gradient(#579ed5 0%, #3286c7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #579ed5), color-stop(100%, #3286c7));
  background: -webkit-linear-gradient(#579ed5 0%, #3286c7 100%);
  background: linear-gradient(#579ed5 0%, #3286c7 100%);
  color: #4e5800;
  text-shadow: 0 1px 1px #3286c7;
}
#menu > ul > li.has-sub > a:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  border: 5px solid transparent;
  border-left: 5px solid #ffffff;
}
#menu > ul > li.has-sub.active > a:after {
  right: 14px;
  top: 12px;
  border: 5px solid transparent;
  border-top: 5px solid #4e5800;
}
/* Sub menu */
#menu ul ul {
  padding: 0;
  display: none;
}
#menu ul ul a {
  background: #efefef;
  display: block;
  color: #797979;
  font-size: 13px;
}
#menu ul ul li {
  border-bottom: 1px solid #c9c9c9;
}
#menu ul ul li.odd a {
  background: #e5e5e5;
}
#menu ul ul li:last-child {
  border: none;
}
