#cssmenu {
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  width: auto;color:#FFF;
}
#cssmenu ul {
  background: #333333;
  height: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu li {
  float: left;
  padding: 0px;color:#FFF;
}
#cssmenu li a {
  background: #333333 url(../img/seperator.gif) bottom right no-repeat;
  display: block;
  font-weight: normal;
  line-height: 40px;
  margin: 0px;
  padding: 0px 18px;
  text-align: center;
  text-decoration: none;color:#FFF;
}
#cssmenu > ul > li > a {
  color:#FFF;
}
#cssmenu ul ul a {
  color: #cccccc;
}
#cssmenu li > a:hover,
#cssmenu ul li:hover > a {
  background: #039 url(../img/hover.png) bottom center no-repeat;
  color:#FFF;
  text-decoration: none;-moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out;box-shadow:inset 0px 0px 9px 0px #dbeafa; 
    -moz-box-shadow:inset 0px 0px 9px 0px #dbeafa; 
    -webkit-box-shadow:inset 0px 0px 9px 0px #dbeafa; 
}
#cssmenu li ul {
  background: #333333;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 155px;
  z-index: 200;
  /*top:1em;
	/*left:0;*/

}
#cssmenu li:hover ul {
  display: block;
}
#cssmenu li li {
  background: url(../img/sub_sep.gif) bottom left no-repeat;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 155px;
}
#cssmenu li:hover li a {
  background: none;
}
#cssmenu li ul a {
  display: block;
  height: 30px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 5px 15px;
  text-align: left;
}
#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a {
  background: #039 url('hover_sub.png') center left no-repeat;
  border: 0px;
  color:#FFF;
  text-decoration: none;
  -moz-transition:all 600ms ease-in-out;-ms-transition:all 600ms ease-in-out;-o-transition:all 600ms ease-in-out;-webkit-transition:all 600ms ease-in-out;transition:all 600ms ease-in-out;box-shadow:inset 0px 0px 7px 0px #dbeafa; 
    -moz-box-shadow:inset 0px 0px 7px 0px #dbeafa; 
    -webkit-box-shadow:inset 0px 0px 7px 0px #dbeafa; 
}
#cssmenu p {
  clear: left;
}
