
div#header div#slide-holder {
z-index : 40;
width : 700px;
height : 390px;
border-radius: 5px;
position : absolute;border: 5px #1960a2 solid; 
box-shadow:inset 0px 0px 9px 0px #dbeafa; -moz-box-shadow:inset 0px 0px 9px 0px #dbeafa;-webkit-box-shadow:inset 0px 0px 9px 0px #dbeafa;
}
div#header div#slide-holder img {
height:390px;box-shadow:inset 0px 0px 9px 0px #dbeafa; -moz-box-shadow:inset 0px 0px 9px 0px #dbeafa;-webkit-box-shadow:inset 0px 0px 9px 0px #dbeafa;
}

div#header div#slide-holder div#slide-runner {

width : 700px;;
height : 390px;
overflow : hidden;
position : absolute;box-shadow:inset 0px 0px 9px 0px #dbeafa; -moz-box-shadow:inset 0px 0px 9px 0px #dbeafa;-webkit-box-shadow:inset 0px 0px 9px 0px #dbeafa;
}
div#header div#slide-holder img {
margin : 0;
display : none;
position : absolute;
height:390px;width:700px;box-shadow:inset 0px 0px 9px 0px #dbeafa; -moz-box-shadow:inset 0px 0px 9px 0px #dbeafa;-webkit-box-shadow:inset 0px 0px 9px 0px #dbeafa;
}
div#header div#slide-holder div#slide-controls {
left : 0;
bottom : 338px;
width : 700px;
height : 46px;
display : none;
position : absolute;
background : url(images/slide-bg.png) 0 0;
}
div#header div#slide-holder div#slide-controls p.text {
float : left;
color : #0088cc;
display : inline;
font-size : 15px;font-family:Tahoma, Geneva, sans-serif;
line-height : 16px;
margin : 15px 0 0 20px;
text-transform : uppercase;
}
div#header div#slide-holder div#slide-controls p#slide-nav {
float : right;
height : 24px;
display : inline;
margin : 11px 15px 0 0;
}
div#header div#slide-holder div#slide-controls p#slide-nav a {
float:left;
width : 24px;
height : 24px;
display : inline;
font-size : 11px;
margin : 0 10px 0 0;margin-top:340px;
line-height : 24px;
font-weight : bold;
text-align : center;
text-decoration : none;
background-position : 0 0;
background-repeat : no-repeat;color:#FFF;
}
div#header div#slide-holder div#slide-controls p#slide-nav a.on {
background-position : 0 -24px;
}
div#header div#slide-holder div#slide-controls p#slide-nav a {
background-image:url(../images/silde-nav.png);
}
div#nav ul li a {
background : url(images/nav.png) no-repeat;
}
