#body #body_main #contact{height:580px;width:100%;}
#body #body_main #contact .contact_viwe{height:100%;width:30%;}
#body #body_main #contact .contact_viwe img{margin-top:60px;}
#body #body_main #contact .contact_viwe h1{padding-top:30px;font-family:Tahoma, Geneva, sans-serif;font-size:24px;font-weight:500;}
#body #body_main #contact .contact_viwe ul{margin-top:20px;font-family:Tahoma, Geneva, sans-serif;font-size:12px;color:#09F;line-height:25px;width:250px;margin-left:5px;}
#body #body_main #contact .contact_viwe ul li{margin-top:10px;width:100%;font-family:Tahoma, Geneva, sans-serif;font-size:12px;color:#CCC;}
#body #body_main #contact .contact_map{height:100%;width:70%;}
#body #body_main #contact .contact_map h1{padding-top:30px;font-family:Tahoma, Geneva, sans-serif;font-size:24px;font-weight:500;padding-bottom:20px;}
#body #body_main #contact .contact_map .map_vw{width:672px;height:420px;overflow:hidden;}


#body #body_main #welcom{height:auto;width:960px;border-radius:5px;background:#eafafe;clear:both;min-height:0px; max-height:30000px;}

/*#body #body_main .mcq_body_head{width:950px; border-radius:5px; clear:both; line-height:40px;font-size:18px;font-weight:600;padding-left:10px;}

#body #body_main .mcq_body{width:960px; height:auto; clear:both; min-height:300px; max-height:3000px; }

#body #body_main  .mcq_body .mcq_body_left{width:30%;height:auto; min-height:100px; max-height:3000px; float:left;}
*/


#body #body_main #welcom .welcom_admin{width:100%;height:auto;margin-bottom:10px; clear:both;}

#body #body_main #welcom .welcom_admin .body_adin{width:98%;margin-top:10px;margin-left:10px;border-radius:5px; min-height:230px; max-height:30000px;}

#body #body_main #welcom .welcom_admin .body_adin .proflie{width:27%;height:auto;margin-top:5px;}
#body #body_main #welcom .welcom_admin .body_adin .proflie ul h1{font-size:15px;padding:0px;background:url(../img/gtk_media_forward_ltr.gif) no-repeat left;font-weight:600;color:#989898;padding-left:28px;margin-left:10px;}
#body #body_main #welcom .welcom_admin .body_adin .proflie img{width:250px;height:250px;}
#body #body_main #welcom .welcom_admin .body_adin .proflie .chaneg{width:98%;height:auto;border-radius:5px;padding-bottom: 15px;}
#body #body_main #welcom .welcom_admin .body_adin .proflie .chaneg ul{height:auto;width:auto;padding-top:10px;}
#body #body_main #welcom .welcom_admin .body_adin .proflie .chaneg ul li{margin-left:35px;margin-top:5px; }
#body #body_main #welcom .welcom_admin .body_adin .proflie .chaneg ul li a{color:#fffbd1;font-family:Tahoma, Geneva, sans-serif;font-size:12px;background:url(../img/hover_sub.png) no-repeat left;padding-left:10px;}

#body #body_main #welcom .welcom_admin .paragraph{width:100%;height:auto;min-height:230px; max-height:3000px;padding-top:10px;padding-bottom:10px;  clear:both; }

#body #body_main #welcom .welcom_admin .paragraph .paragraph_proflie{width:25%;margin-top:5px;border-radius:5px;margin-right:10px;  }
#body #body_main #welcom .welcom_admin .paragraph .paragraph_proflie ul {height:auto;width:auto;padding-top:10px;}
#body #body_main #welcom .welcom_admin .paragraph .paragraph_proflie ul h1{font-size:15px;padding:0px;background:url(../img/gtk_media_forward_ltr.gif) no-repeat left;font-weight:600;color:#989898;padding-left:28px;margin-left:10px;}
#body #body_main #welcom .welcom_admin .paragraph .paragraph_proflie ul li{margin-left:35px;margin-top:5px; }
#body #body_main #welcom .welcom_admin .paragraph .paragraph_proflie ul li a{color:#fffbd1;font-family:Tahoma, Geneva, sans-serif;font-size:12px;background:url(../img/hover_sub.png) no-repeat left;padding-left:10px;}

#body #body_main #welcom .welcom_admin .paragraph .paragraph_head{width:72%;height:30px;border-radius:5px;text-align:center;font-size:16px;line-height:25px;}
#body #body_main #welcom .welcom_admin .paragraph .paragraph_search{width:72%;height:50px;font-size:16px;line-height:40px;}


#body #body_main #welcom .welcom_admin .paragraph .show_question{width:70%;min-height:0px;max-height:30000px;padding-bottom:10px;padding-left:20px;border-radius:5px;}
#body #body_main #welcom .welcom_admin .paragraph .show_question ul{width:100%;min-height:100px;max-height:30000px;overflow:hidden;margin-top:10px;}
#body #body_main #welcom .welcom_admin .paragraph .show_question ul h1{padding-top:10px;font-family:Tahoma, Geneva, sans-serif;font-size:18px;font-weight:500;padding-bottom:10px;font-weight:600;}
#body #body_main #welcom .welcom_admin .paragraph .show_question ul li{height:auto;width:35%;}



#body #body_main #welcom .welcom_admin .body_adin .proflie_view{width:72%;height:auto;}
#body #body_main #welcom .welcom_admin .body_adin .proflie_view .head_view{width:100%;height:70px;margin-top:5px;}
#body #body_main #welcom .welcom_admin .body_adin .proflie_view .head_view ul{width:100%;height:65px;}
#body #body_main #welcom .welcom_admin .body_adin .proflie_view .head_view ul li{width:15%;height:65px;margin-right:13px;border-radius:7px;text-align:center;}
#body #body_main #welcom .welcom_admin .body_adin .proflie_view .head_view ul li a{display:block;border-radius:7px;font-family:Tahoma, Geneva, sans-serif;color:#FFF;font-size:14px;font-weight:600;padding-bottom:20px;padding-top:20px;}

#body #body_main #welcom .welcom_admin .body_adin .proflie_view .pro_line{width:100%;height:30px;margin-top:10px;line-height:30px;font-family:Tahoma, Geneva, sans-serif;font-weight:600;color:#069;}

#body #body_main #welcom .welcom_admin .body_adin .proflie_view .pro_featur{width:100%;height:200px;margin-top:10px;}
#body #body_main #welcom .welcom_admin .body_adin .proflie_view .pro_featur ul{width:100%;height:200px;margin-top:10px;}
#body #body_main #welcom .welcom_admin .body_adin .proflie_view .pro_featur ul li{width:32.4%;height:200px;font-family:Tahoma, Geneva, sans-serif;font-weight:600;color:#069;}
#body #body_main #welcom .welcom_admin .body_adin .proflie_view .pro_featur ul li img{width:219px;height:150px;}
#body #body_main #welcom .welcom_admin .body_adin .proflie_view .pro_featur ul li a{color:#069;}

#body #body_main #welcom .welcom_admin .body_adin .proflie_view .pro_box{width:100%;height:170px;}
#body #body_main #welcom .welcom_admin .body_adin .proflie_view .pro_box .pro_box_left{width:49%;height:170px;background:#096;}
#body #body_main #welcom .welcom_admin .body_adin .proflie_view .pro_box .pro_box_left .pro_box_left_head{width:97%;height:30px;line-height:30px;font-family:Tahoma, Geneva, sans-serif;font-size:10px;color:#FFF;font-weight:600;padding-left:10px;}
#body #body_main #welcom .welcom_admin .body_adin .proflie_view .pro_box .pro_box_left_dtl{width:100%;height:140px;background:#9F6;}


#body #body_main #welcom .welcom_admin .body_adin .proflie_view .pro_box .pro_box_right{width:49%;height:170px;background:#096;}
#body #body_main #welcom .welcom_admin .body_adin .proflie_view .pro_box .pro_box_right .pro_box_right_head{width:97%;height:30px;line-height:30px;font-family:Tahoma, Geneva, sans-serif;font-size:10px;color:#FFF;font-weight:600;padding-left:10px;}
#body #body_main #welcom .welcom_admin .body_adin .proflie_view .pro_box .pro_box_right_dtl{width:100%;height:140px;background:#9F6;}



#body #body_main #welcom .welcom_admin .body_adin .mcq{width:73%;height:auto;}
#body #body_main #welcom .welcom_admin .body_adin .mcq .mcq_head{width:100%;height:35px;font-size:14px;font-family:Tahoma, Geneva, sans-serif;font-weight:600;text-align:center;line-height:30px;border-radius:5px;margin-top:5px;}
#body #body_main #welcom .welcom_admin .body_adin .mcq .mcq_text_fild{width:100%;padding-top: 10px;padding-bottom: 10px;}
#body #body_main #welcom .welcom_admin .body_adin .mcq .mcq_text_fild .text_div{width:70%;height:50px;margin-left:auto;margin-right:auto;margin-top:15px;}
#body #body_main #welcom .welcom_admin .body_adin .mcq .mcq_text_fild .text_div .text_name{width:30%;height:40px;font-family:Tahoma, Geneva, sans-serif;font-size:16px;line-height:30px;font-weight:500;}
#body #body_main #welcom .welcom_admin .body_adin .mcq .mcq_text_fild .text_div .text_fild{width:70%;height:40px;}
#body #body_main #welcom .welcom_admin .body_adin .mcq .mcq_text_fild .text_div .text_button{width:50%;height:40px;margin-left:auto;margin-right:auto;}

#body #body_main #welcom .welcom_admin .body_adin .mcq .mcq_answer{width:100%;height:auto;margin-bottom: 10px;padding-bottom: 10px;border-radius: 5px;}
#body #body_main #welcom .welcom_admin .body_adin .mcq .mcq_answer ul{width:98%;height:110px;margin-top: 15px; padding-left: 10px;}
#body #body_main #welcom .welcom_admin .body_adin .mcq .mcq_answer ul li{height:auto;font-size: 15px;}

#body #body_main #welcom .welcom_admin .body_adin .mcq .mcq_text_fild .contact_map{width:686px; }






.wlc{width:97%;height:7%;font-family:Tahoma, Geneva, sans-serif;font-weight:bolder;font-size:20px;line-height:40px;margin-left:10px;color:#FFF;border-radius:3px;margin-top:10px;padding-left:10px;}
.wlc .wlc_logo{width:300px;height:100%;}
.wlc .wlc_logo ul{width:300px;height:100%;}
.wlc .wlc_logo ul li{width:40px;height:100%;margin-right:20px;}
.wlc .wlc_logo ul li img{width:40px;height:30px;margin-top:5px;}




.sdw{-webkit-box-shadow: inset 0px 0px 8px 0px rgba(59,67,71,1);
-moz-box-shadow: inset 0px 0px 8px 0px rgba(59,67,71,1);
box-shadow: inset 0px 0px 8px 0px rgba(59,67,71,1);}

.colre{font-weight:bolder; color:#09C;}

/*----------------------student----------------*/


#body #body_main #welcom #input_fild{width:98%;height:100%;margin-left:10px;margin-top:10px;margin-bottom:10px;}

#body #body_main #welcom #input_fild .input_fld{width:60%;height:100%;margin-left:auto;margin-right:auto;margin-top:5px;padding-bottom:35px;padding-left:20px;padding-right:20px;border-radius:5px;padding-top:10px;-webkit-border-radius: 4px; }
#body #body_main #welcom #input_fild .input_fld .input_name{width:100%;height:50px;}
#body #body_main #welcom #input_fild .input_fld .name{width:30%;height:50px;font-family:Tahoma, Geneva, sans-serif;font-size:16px;line-height:50px;color:#FFF;font-weight:600;}
#body #body_main #welcom #input_fild .input_fld .input{width:70%;height:52px;}
#body #body_main #welcom #input_fild .input_fld .input input{width:43.8%;height:35px;border:none;margin-top:5px;padding-left:10px;padding-right:10px;border:5px;}

#body #body_main #welcom #input_fild .input_fld .input_1{width:70%;height:50px;}
#body #body_main #welcom #input_fild .input_fld .input_1 input{width:94%;height:35px;border:none;margin-top:5px;padding-left:10px;padding-right:10px;}

#body #body_main #welcom #input_fild .input_fld .input_1 select{width:32.3%;height:30px;margin-top:5px;outline:none;border:none;border:none;border:inset 1px #006699;padding-bottom:5px;padding-top:5px;padding-right:5px;border:none;border-radius:5px;box-shadow:inset 0px 0px 7px 0px #848687;-moz-box-shadow:inset 0px 0px 7px 0px #848687;-webkit-box-shadow:inset 0px 0px 7px 0px #848687;}


#body #body_main #welcom #input_fild .input_fld .input_2{width:70%;height:80px;}
#body #body_main #welcom #input_fild .input_fld .input_2 textarea{width:94%;height:50px;border:none;outline:none;padding:10px 10px 10px 10px;}

#body #body_main #welcom #input_fild .input_fld .input_3{width:70%;height:50px;}
#body #body_main #welcom #input_fild .input_fld .input_3 input{margin-top:20px;border:#069;}


