@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;list-style:none;}
body {line-height:1;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block;}
nav ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none;}
a {margin:0;padding:0;vertical-align:baseline;background:transparent;text-decoration:none;color:#000;}



#body{height:auto;width:auto;/*background:url(../img/body1.gif) repeat-x ;*/min-height:0px; max-height:30000px; clear:both; }
#body .head_menu_xtra{height:30px;width:auto;}
#body .head_menu_xtra ul{height:30px;width:960px;margin-left:auto;margin-right:auto;}
#body .head_menu_xtra ul li{height:30px;width:auto;line-height:27px;}
#body .head_menu_xtra ul li a{display:block;padding-left:15px;padding-right:13px;color:#CCC;font-size:14px;font-family:Tahoma, Geneva, sans-serif;padding-bottom:3px;}
#body .head_menu_xtra ul li a:hover{background:url(../img/hover.png) no-repeat bottom;color:#000;}



#body #body_main{height:auto;width:960px;margin-left:auto;margin-right:auto; clear:both;min-height:0px; max-height:30000px;clear:both;padding-bottom: 5px;}
#body #body_main .head_sec{height:110px;width:960px; }
#body #body_main .head_sec .head_logo{width:290px;height:100px;margin-top:10px;}
#body #body_main .head_sec .head_logo img{width:260px;height:80px;margin-top:10px;}
#body #body_main .head_sec .head_manu{width:670px;height:45px;margin-top:30px;}


#body #body_main #gallery{height:400px;width:960px;}

#body #body_main #gallery .gallery_left{height:400px;width:74%;}

#body #body_main #gallery .gallery_right{height:380px;width:25%;border-radius: 5px;padding-top: 20px;}
#body #body_main #gallery .gallery_right h1{font-size:15px;padding:0px;padding-left:30px;margin-left: 10px;
background:url(../img/gtk_media_forward_ltr.gif) no-repeat left;font-weight:600;color:#989898;}

#body #body_main #login .head_loging{height:35px;width:97.9%;font-family:Tahoma, Geneva, sans-serif;font-size:18px;border-top-left-radius:5px;border-top-right-radius:5px;padding-left:20px;color:#FFF; padding-bottom: 5px;padding-top: 5px;
}
#body #body_main #login .head_loging img{height:35px;width:20px;}
#body #body_main #login .head_loging .instrc{height:35px;width:350px; padding-left: 50px;line-height: 30px;}

#body #body_main #login .gallery_loging{height:230px;width:49.9%;margin-top:5px;}
#body #body_main #login .logo_login{height:230px;width:49.9%;margin-top: 5px;border-radius: 5px;}
#body #body_main #login .logo_login img{height:210px;width:300px;margin-left:80px;margin-top:10px;}

#body #body_main #login .gallery_loging ul{height:230px;width:100%;border-radius: 5px;}
#body #body_main #login .gallery_loging ul li{height:30px;width:50%;font-size:12px;font-family:Tahoma, Geneva, sans-serif;margin-top:20px;line-height:30px;color:#ffffff;}
#body #body_main #login .gallery_loging ul li input{height:100%;width:80%;border:none;border-radius:5px;outline:none;padding-left:20px;padding-right:20px;border-radius:5px;}
#body #body_main #login .gallery_loging ul li a{color:#ffffff;}
#body #body_main #login .gallery_loging ul li a:hover{color: #000;}


#body #body_main #login .gallery_singup{height:auto;width:49.9%;}
#body #body_main #login .gallery_singup ul{height:320px;width:100%;margin-top:5px;border-radius: 5px;}
#body #body_main #login .gallery_singup ul li{height:30px;font-size:12px;font-family:Tahoma, Geneva, sans-serif;margin-top:30px;line-height:30px;margin-left:20px;color: #ffffff;}
#body #body_main #login .gallery_singup ul li input{height:100%;border:none;border-radius:5px;outline:none;padding-left:20px;padding-right:20px;}
#body #body_main #login .gallery_singup ul li input:hover{}

#body #body_main #login .gallery_singup ul li a{color:#000;}
#body #body_main #login .gallery_singup ul li a:hover{color:#000;}

#body #body_main #login .singup_logo{height:auto;width:49.9%;}
#body #body_main #login .singup_logo ul{height:305px;width:100%;margin-top:5px;border-radius: 5px;padding-top: 15px;}
#body #body_main #login .singup_logo ul li{height:auto;width:80%;background: url(../img/hover_sub.png) no-repeat left;padding-left:20px;margin-left:20px;margin-top:20px;font-family:Tahoma, Geneva, sans-serif;font-size:14px;color: #ffffff;}
#body #body_main #login .singup_logo ul img{height:150px;width:200px;}




#body #body_main #madl_part_1{height:350px;width:960px;border-bottom:#CCC solid 1px; overflow: hidden;}
#body #body_main #madl_part_1 h1{padding-top:30px;font-family:Tahoma, Geneva, sans-serif;font-size:24px;font-weight:500;}
#body #body_main #madl_part_1 .siderbar_menu{width:auto;height:auto;margin-top:15px;border-radius:5px;padding-right:10px;padding-left:10px;}
#body #body_main #madl_part_1 .siderbar_menu h1{font-size:15px;padding:0px;padding-left:30px;margin-top:10px;
background:url(../img/gtk_media_forward_ltr.gif) no-repeat left;font-weight:600;color:#989898;}
#body #body_main #madl_part_1 .siderbar_menu ul{height:210px;;width:120px;margin-top:10px;padding-bottom:10px;}
#body #body_main #madl_part_1 .siderbar_menu ul li{margin-left:15px;margin-top:5px;background:url(../img/hover_sub.png) no-repeat left; padding-left:10px;}
#body #body_main #madl_part_1 .siderbar_menu ul li a{color:#fffbd1;font-family:Tahoma, Geneva, sans-serif;font-size:12px;}
#body #body_main #madl_part_1 .siderbar_menu ul li a:hover{font-size:14px;color:#f1e27e;}

#body #body_main #madl_part_2{height:auto;width:100%;}
#body #body_main #madl_part_2 .add{width: 33%}
#body #body_main #madl_part_2 .add img{width: 316px;height: 120px;}



#body #body_main #madl_part_2 ul{height:350px;width:auto;}
#body #body_main #madl_part_2 ul li{height:100%;width:23%;margin-right:23px;}
#body #body_main #madl_part_2 ul li h1{margin-top:40px;font-family:Tahoma, Geneva, sans-serif;font-size:24px;font-weight:500;}
#body #body_main #madl_part_2 ul li img{margin-top:30px;}
#body #body_main #madl_part_2 ul li p{margin-top:25px;font-family:Tahoma, Geneva, sans-serif;font-size:13px;font-weight:500;width:90%;}
#body #body_main #madl_part_2 ul li a{margin-top:50px;font-family:Tahoma, Geneva, sans-serif;font-size:13px;font-weight:500;width:90%;padding-top:20px;}
#body #body_main #madl_part_2 .read{width:100%;height:20px;}
#body #body_main #madl_part_2 .read ul{width:100%;height:20px;}
#body #body_main #madl_part_2 .read ul li{width:23%;height:20px;margin-right:23px;}
#body #body_main #madl_part_2 .read ul li a{color:#09F;text-decoration:underline;}
#body #body_main #madl_part_2 .read ul li a:hover{text-decoration:none;}




#body #foter{width:auto;height:30px; clear:both;}
#body #foter .foter{width:960px;height:100%;margin-left:auto;margin-right:auto;/*background:#069;*/}
#body #foter .foter ul{width:960px;height:100%;margin-left:auto;margin-right:auto;}
#body #foter .foter ul li{height:100%;width:45%;line-height:30px; margin-left:5px; font-family:Tahoma, Geneva, sans-serif;font-size:11px;color:#FFF;}
#body #foter .foter ul li a{font-family:Tahoma, Geneva, sans-serif;font-size:11px;color:#FFF; }
#body #foter .foter ul li a:hover{text-decoration:underline;}


