<div id="modal-table" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Edit Detail :
                </div>
            </div>

            <div class="modal-body no-padding">
                form
            </div>

            <div class="modal-footer no-margin-top">
                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                    <i class="icon-remove"></i>
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- PAGE CONTENT ENDS -->








































<form method="post" action="" name="question">



                                                                                                    <fieldset></fieldset>

                                                                                                    <div class="form-group">
                                                                                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Add Question Name </label>
                                                                                                        <input type="hidden" name="id" value="<?php echo $row->id; ?>" />
                                                                                                        <div class="col-sm-9">
                                                                                                            <input type="text" value="<?php echo $row->ques_name; ?>" name="question" id="form-field-1" placeholder="Test paper name" class="col-xs-10 col-sm-10" />
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <fieldset></fieldset>

                                                                                                    <div class="form-group">
                                                                                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Medium Name </label>

                                                                                                        <div class="col-sm-9">
                                                                                                            <select name="ques_medium" id="form-field-1" class="col-xs-10 col-sm-10" >
                                                                                                                <option value="">Add Class</option>
                                                                                                                    <?php
                                                                                                                    $ins = $obj->selectAll('ams_madiam');
                                                                                                                    foreach ($ins as $row):
                                                                                                                        ?>

                                                                                                                    <option value="<?php echo $row->madiam_id; ?>"><?php echo $row->madiam_id; ?></option>
    <?php                                                                                                                 endforeach; ?>
                                                                                                            </select>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <fieldset></fieldset>

                                                                                                    <div class="form-group">
                                                                                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Class Name </label>

                                                                                                        <div class="col-sm-9">
                                                                                                            <select name="ques_class" id="form-field-1" class="col-xs-10 col-sm-10" >
                                                                                                                <option value="">Medium</option>
                                                                                                                <?php
                                                                                                                $ins = $obj->selectAll('ams_class');
                                                                                                                foreach ($ins as $row):
                                                                                                                    ?>

                                                                                                                    <option value="<?php echo $row->id; ?>"><?php echo $row->class_name; ?></option>
    <?php endforeach; ?>
                                                                                                            </select>
                                                                                                        </div>
                                                                                                     <div class="form-actions center">
                                                                                                        <button type="submit" name="edit" class="btn btn-sm btn-success">
                                                                                                            Submit
                                                                                                        </button>

                                                                                                        <button type="reset" class="btn btn-sm btn-success">
                                                                                                            Reset
                                                                                                        </button>
                                                                                                    </div>
                                                                                                    </div>

                                                                                                </form>